.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #171717;
    font-size: 31px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 14px;
    font-weight: 500;
}
.offers-left button{
    width: 195px;
    height: 55px;
    border-radius: 35px;
    background: black;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
@media(max-width:1280px){
    .offers{
        padding: 0px 75px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 28px;
    }
    .offers-left p{
        font-size: 12px;
    }
    .Offers-right img{
        width: 500px;
    }
    .offers-left button{
        width: 165px;
        height: 40px;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 45vh;
    }
    .offers-left h1{
        font-size: 24px;
    }
    .offers-left p{
        font-size: 10px;
        white-space: nowrap;
    }
    .offers-left button{
        width: 130px;
        height: 30px;
        font-size: 12px;
    }
    .Offers-right img{
        width: 400px;
        height: auto;
    }
}
@media(max-width:800px){
    .offers{
        margin-bottom: 60px;
        height: 35vh;
    }    
    .offers-left h1{
        font-size: 20px;
    }
    .offers-left p{
        font-size: 9px;
        white-space: nowrap;
    }
    .offers-left button{
        width: 100px;
        height: 25px;
        font-size: 11px;
    }
    .Offers-right img{
        width: 340px;
    }
}
@media(max-width:500px){
    .offers{
        margin-bottom: 40px;
        margin-top: 30px;
        height: 22vh;
    }    
    .offers-left h1{
        font-size: 17px;
    }
    .offers-left p{
        font-size: 9px;
        white-space: nowrap;
    }
    .offers-left button{
        width: 80px;
        height: 20px;
        font-size: 10px;
        margin-top: 14px;
    }
    .Offers-right img{
        width: 220px;
    }
}
